# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://username:password@localhost:3306/mydb"
DATABASE_USER="username" // [root]
DATABASE_PASSWORD="password" // [root]
DATABASE_NAME="mydb" // [social-media]
DATABASE_HOST="localhost" // [localhost]
DATABASE_PORT=3306 // [3306]