.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  z-index: 10;
  text-align: center;
}

.elegant-title {
  font-size: 5rem;
  font-family: 'Playfair Display', serif; 
  font-weight: 300;
  
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  -webkit-background-clip: text; 
    background-clip: text;       
    -webkit-text-fill-color: transparent;
  
  filter: drop-shadow(0 0 15px rgba(184, 134, 11, 0.4));
  letter-spacing: 2px;
}